/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error-dialog {
    color: rgb(31, 30, 32) !important;
    background-color: rgb(207, 99, 79) !important;
}